@charset "utf-8";

/* General Contact Page Layout */

article#contact {
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: column nowrap;
  flex-flow: column nowrap;
}

section#contactTitle {
	width: 100%;
}

section#contactForm {
  -webkit-flex: 1 1 300px;
  flex: 1 1 300px;
  padding-bottom: 5%;

}


section#recipeForm {
  -webkit-flex: 1 1 300px;
  flex: 1 1 300px;
   padding-bottom: 5%;
}

/* Contact Form Section */

section#contactForm p{
	padding: 10px;

}



/* Recipe Form Section */

section#recipeForm p {
  padding: 10px;
}

