@charset "utf-8";

article{
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}



section.product {
	-webkit-flex: 1 1 200px;
	flex: 1 1 200px;
}

h1.pageTitle {
	width: 100%;
}
	
